* {
  margin: 20;
  padding: 20;
  font-family: "Courier New", Courier, "monospace";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}
.page-body {
  text-align: center;
  margin: 3rem;
  height: 80vh;
  
}

header {
  background-color: #6de9d4;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: #000000;
}

code {
  font-family: "Courier New", Courier;
}


.dud-logo {
  width: 300px;
  margin-left: 20px;
}

.nav-link {
  color: #6de9d4;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-right: 50px;
}
.nodud-bud {
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
}

 footer {
    font-size: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #d3d3d3;
    display: flex;
    justify-content: space-around;
    text-align: center;
 }

