body{
  margin: 0;
  padding: 0;
  font-family:'Courier New', courier;
}
.page-body {
  background-color: #B0B8B4FF;
  text-align: center;
  font-size: 40px;
  justify-content: space-between;
  margin: 1.5rem;
  display: fixed;
  padding-top: 10px;
  padding-bottom: 1px;
}
.buddy-up {
  width: 150px;
  height: 150px;
  text-align: center;
}


header {
font-size: 30px;
text-align: center;
background-color: #FC766AFF;
display: fixed;
justify-content: space-between;
padding-top: 5px;
padding-bottom: 0px;
}
.dud-logo{
  width: 250px;
  height: 250px;
  text-align: center;
}
.nav-links {
  display: fixed;
  flex-direction:row;
  align-items: center;
  padding-right: 50px;
  color: #FC766AFF;
  background-color:#FC766AFF;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 0px;
}

/* ---NAV--- */

.btn.btn-secondary {
  background-color: #B0B8B4FF;
  font-weight: bolder;
  margin: 5px;
}
.btn.btn-secondary:hover {
  color: #B0B8B4FF;
  background-color:#000000;
}

.nodud-bud {
  width: 200px;
  height: 200px;
  text-align: center;
}

form {
  margin-left: 20%;
  margin-right: 20%;
}
input {
  text-align: center;
}
div.form-group {
  margin-bottom: 15px;
}

footer {
  font-size: 20px;
  position: flex;
  bottom: 0;
  width: 100%;
  background-color:#184A45FF;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 30px;
}

.card-show.card.card-body {
  margin: 0 auto;
}

.index-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card.card-body {
  width: 300px;
  background-color: #B0B8B4FF;
  margin: 20px;
}