body {
  margin: 0;
  font-family: "Courier New", Courier;
}

header {
  align-items: center;
  font-family: "Courier New", Courier;
}

footer {
  font-family: "Courier New", Courier;
  font-size: 20px;
  position: flex;
  bottom: 0;
  width: 100%;
  background-color:#184A45FF;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 10px;
}

code {
  font-family: "Courier New", Courier;
}

.nav-links {
  color: #000000;
  background-color:#6de9d4;
}
